/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import * as z from "zod/v4-mini";
import { FluidapiCore } from "../core.js";
import { encodeJSON } from "../lib/encodings.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { pathToFunc } from "../lib/url.js";
import { FluidapiError } from "../models/errors/fluidapi-error.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/http-client-errors.js";
import * as errors from "../models/errors/index.js";
import { ResponseValidationError } from "../models/errors/response-validation-error.js";
import { SDKValidationError } from "../models/errors/sdk-validation-error.js";
import * as models from "../models/index.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Issue end-user token
 *
 * @remarks
 * Issues a JWT for an end user (workspace user or customer user).
 *
 * Supported authentication modes:
 * - `Authorization: Bearer <m2m_token>` — preferred. The token must be a
 *   Fluid-signed M2M JWT with `scope` including `fluid:api`.
 *   Canonical first-access provisioning via external lookup/create is only
 *   available in this mode.
 * - HTTP Basic Auth with `client_id` + `client_secret`.
 *   In this mode the service does not perform canonical lookup/create.
 *
 * If `customer_external_id` is present, the JWT is issued with `scope: customer`.
 * Otherwise it is issued with `scope: workspace`.
 *
 * When canonical first-access provisioning is enabled, `email` is required
 * so the service can lookup or create the canonical user before issuing the token.
 *
 * When canonical provisioning is disabled by server configuration, the
 * service may materialize local IAM context by assuming `external_id` is
 * already the canonical `user_id`.
 */
export function tokensIssueUserToken(
  client: FluidapiCore,
  request: models.UserTokenRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    operations.IssueUserTokenResponse,
    | errors.ErrorResponse
    | FluidapiError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: FluidapiCore,
  request: models.UserTokenRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      operations.IssueUserTokenResponse,
      | errors.ErrorResponse
      | FluidapiError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) => z.parse(models.UserTokenRequest$outboundSchema, value),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = encodeJSON("body", payload, { explode: true });

  const path = pathToFunc("/users/token")();

  const headers = new Headers(compactMap({
    "Content-Type": "application/json",
    Accept: "application/json",
  }));

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "issueUserToken",
    oAuth2Scopes: null,

    resolvedSecurity: null,

    securitySource: null,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    method: "POST",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    errorCodes: ["400", "401", "403", "404", "409", "4XX", "502", "5XX"],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result] = await M.match<
    operations.IssueUserTokenResponse,
    | errors.ErrorResponse
    | FluidapiError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(200, operations.IssueUserTokenResponse$inboundSchema),
    M.jsonErr([400, 401, 403, 404, 409], errors.ErrorResponse$inboundSchema),
    M.jsonErr(502, errors.ErrorResponse$inboundSchema),
    M.fail("4XX"),
    M.fail("5XX"),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
